<header class="hero background-sky">
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  Code Explorer
</div>
<article class="docs-content">
  <b>Code Explorer</b> panel will allow a developer to generate the source code for an individual component of one's choice.
  The Code Explorer in CodeBhagat tool, will provide a list of individual component that you can generate in a tree view
  form arranged by <b>Technology</b> and/or an <b>Application Layer</b>.
  <br /><br />
  <div class="row">
    <div class="col-md-3"><img src="/assets/CodeExplorer.PNG" class="img-responsive" /></div>
    <div class="col-md-9">
      <h4>To generate an individual component,</h4>
      <ol>
        <li>Make sure that <b>Code Explorer</b> is open. If it is not, click the View menu and select <b>Code Explorer</b>.</li>
        <li>
          Select an individual component of your choice and click on <b>Geneate</b> icon in Code Explorer menu bar.<br />
          <b>Note</b>: You may also <b>Double Click</b> on an individual component to generate the source code.
        </li>
      </ol>
    </div>
  </div>
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>