<div class="hero background-sky">
  <h1>Creating New Project</h1>
</div>
<article class="docs-content">
  <p>
    You can create a new projet or open an existing project using CodeBhagat tool.
  </p>
  <h3>To create a new project,</h3>
  <p>
    1. From the <b>File</b> menu, select <b>New Project</b>.<br />
    <br />
    <img alt="New Project menu item" src="/assets/NewProjectMenu.png" /><br />
  </p>
  <p>
    2. Enter Project Name and Project Description and click on <b>OK</b> button to create a new project.
  </p>
  <p>
    <img alt="New Project dialog box" src="/assets/NewProjectDialog.png" />
  </p>
  Once you create a new project, you should review the default settings for various code generation options for the new project.
  Click <a routerLink="/docs/setProjectOptions">here</a> to go to Setting Project Options.<br />
  <br />

  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a routerLink="/docs/setDBConnection">Setting Database Connection</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>