<div class="hero background-sky">
  <h1>Introduction</h1>
</div>
<article class="docs-content">
  <div style="margin:0px;padding:5px; padding-bottom: 50px;">
    <p>
      <b>CodeBhagat for .NET</b> is a Unique, Intelligent and Real source code generator software for .NET, that can significantly
      reduce the development time, efforts and cost for developing your applications.
    </p>
    <p>
      It is a <b>Multi-Dimentional</b> source code generator where you may generate the source code for your choice and combination
      of...
      <ol>
        <li><b>Technology</b>: Angular 2.0/Typescript, AngularJS, ASP.NET, ASP.NET MVC, WPF MVVM, Web API and WCF Services</li>
        <li><b>Database</b>: SQL Server, SQL Azure, SQL Standalone, SQL Mobile/CE, SQL Express, Oracle, MySQL and MS-Access</li>
        <li><b>Language</b>: C# or VB.NET</li>
        <li><b>Visual Studio</b>: 2015/2013/2012/2010</li>
        <li><b>Database Provider</b>: Enterprise Library 6.0, SQL Client, OleDb Client, Oracle Client, MySQL Client, Oracle Client</li>
        <li><b>Command Type</b>: Inline SQL or Stored Procedures</li>
        <li><b>Application Layer</b>: Presentation Layer, Business Layer, Data Access Layer, Service Layer, Database Layer</li>
      </ol>
      You may pick any of the above combination and generate the code for an application or an individual component.
      <!--</p>-->
      <p>
        This tool can help you in rapid application development (RAD). You can quickly generate SQL stored procedures, triggers,
        C# data layer classes as well as Web UI that contains all CRUD operations. You can select the table using SQL explorer
        and quickly generate all code with a one-click action. You can easily customize any templates or write your own to
        generate your code exactly the way you want it.
      </p>
      <p>CodeBhagat can help you generate high-quality, more consistent, clean and error free code in minutes.</p>
      <p>
        <img alt="CodeBhagat" class="img-responsive" src="/assets/CodeBhagatStartPage.png" /><br />
      </p>     
      <section class="nextTopic-section">
        <h3>Next Topic</h3>
        <a routerLink="/docs/createNewProject">Creating New Project</a><br />
      </section>      
      <br /><br />
  </div>
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>