<header class="hero background-sky">
  <h1 class="hero-title">CHIRAG DOCS</h1>
</header>
<div class="banner">
  DOCS-HOME PAGE
</div>
<article class="docs-content">
  <div class="card-container">
    <md-card>
      <md-card-title>Quick Start</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>Developer Guide</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>API Reference</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</article>