<!--<div style="margin:0px;background-color: #454545 ">
  <div class="text-left">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </div>
</div>
<div class="alert alert-info" style="margin:0px;padding:5px; font-size:20px;">CodeBhagat Introduction</div>
<div style="margin:0px;padding:5px; padding-bottom: 50px;">
  <p>
    <b>CodeBhagat for .NET</b> is a Unique, Intelligent and Real source code generator software for .NET, that can significantly
    reduce the development time, efforts and cost for developing your applications.
  </p>
  <p>
    It is a <b>Multi-Dimentional</b> source code generator where you may generate the source code for your choice and combination
    of...
    <ol>
      <li><b>Technology</b>: Angular 2.0/Typescript, AngularJS, ASP.NET, ASP.NET MVC, WPF MVVM, Web API and WCF Services</li>
      <li><b>Database</b>: SQL Server, SQL Azure, SQL Standalone, SQL Mobile/CE, SQL Express, Oracle, MySQL and MS-Access</li>
      <li><b>Language</b>: C# or VB.NET</li>
      <li><b>Visual Studio</b>: 2015/2013/2012/2010</li>
      <li><b>Database Provider</b>: Enterprise Library 6.0, SQL Client, OleDb Client, Oracle Client, MySQL Client, Oracle Client</li>
      <li><b>Command Type</b>: Inline SQL or Stored Procedures</li>
      <li><b>Application Layer</b>: Presentation Layer, Business Layer, Data Access Layer, Service Layer, Database Layer</li>
    </ol>
    You may pick any of the above combination and generate the code for an application or an individual component.
  </p>
  <p>
    This tool can help you in rapid application development (RAD). You can quickly generate SQL stored procedures, triggers,
    C# data layer classes as well as Web UI that contains all CRUD operations. You can select the table using SQL explorer
    and quickly generate all code with a one-click action. You can easily customize any templates or write your own to generate
    your code exactly the way you want it.
  </p>
  <p>CodeBhagat can help you generate high-quality, more consistent, clean and error free code in minutes.</p>
  <p>
    <img alt="CodeBhagat" class="img-responsive" src="images/CodeBhagatStartPage.png" /><br />
  </p>
  Next Topic: <a href="Features.html">Features</a><br />
  <br /><br />
</div>
<div class="navbar navbar-fixed-bottom" style="background-color:whitesmoke;">
  <p style="vertical-align: middle">&copy; CodeBhagat LLC 2014-2016. All rights reserved.</p>
</div>-->

<header class="hero background-sky">
  <!--<h1 class="hero-title">CodeBhagat Introduction</h1>-->
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  CodeBhagat Introduction
</div>
<article class="docs-content">
  <div style="margin:0px;padding:5px; padding-bottom: 50px;">
    <p>
      <b>CodeBhagat for .NET</b> is a Unique, Intelligent and Real source code generator software for .NET, that can significantly
      reduce the development time, efforts and cost for developing your applications.
    </p>
    <p>
      It is a <b>Multi-Dimentional</b> source code generator where you may generate the source code for your choice and combination
      of...
      <ol>
        <li><b>Technology</b>: Angular 2.0/Typescript, AngularJS, ASP.NET, ASP.NET MVC, WPF MVVM, Web API and WCF Services</li>
        <li><b>Database</b>: SQL Server, SQL Azure, SQL Standalone, SQL Mobile/CE, SQL Express, Oracle, MySQL and MS-Access</li>
        <li><b>Language</b>: C# or VB.NET</li>
        <li><b>Visual Studio</b>: 2015/2013/2012/2010</li>
        <li><b>Database Provider</b>: Enterprise Library 6.0, SQL Client, OleDb Client, Oracle Client, MySQL Client, Oracle Client</li>
        <li><b>Command Type</b>: Inline SQL or Stored Procedures</li>
        <li><b>Application Layer</b>: Presentation Layer, Business Layer, Data Access Layer, Service Layer, Database Layer</li>
      </ol>
      You may pick any of the above combination and generate the code for an application or an individual component.
      <!--</p>-->
      <p>
        This tool can help you in rapid application development (RAD). You can quickly generate SQL stored procedures, triggers,
        C# data layer classes as well as Web UI that contains all CRUD operations. You can select the table using SQL explorer
        and quickly generate all code with a one-click action. You can easily customize any templates or write your own to
        generate your code exactly the way you want it.
      </p>
      <p>CodeBhagat can help you generate high-quality, more consistent, clean and error free code in minutes.</p>
      <p>
        <img alt="CodeBhagat" class="img-responsive" src="/assets/CodeBhagatStartPage.png" /><br />
      </p>
      Next Topic: <a md-button routerLink="/features">Features</a><br />
      <br /><br />
  </div>
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>