<header class="hero background-sky">
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  Create Virtual Key/Lookup for a Column
</div>
<article class="docs-content">
  <!--<p>
    You can define and generate Lookup Table code by selecting a particular column of a Table or View node from the Database
    Explorer.
  </p>
  <p>
    <span class="style1">Column Lookup</span>:
  </p>
  <p>
    To generate Lookup for a particular column of a Table or View,
  </p>
  <p>
    1. Go to Database Explorer window and expand the database table or view node.<br /> 2. Right click on the column for
    which you want to generate a lookup and select
    <b>Generate</b> menu.<br /> 3. Click on Lookup Table submenu item.<br />
    <img alt="Generate Column Lookup" src="/assets/GenerateColumnLookup.png" style="width: 221px; height: 95px" /><img alt="Lookup Table SubMenu"
      src="/assets/GenerateLookupTableSubMenu.png" style="width: 182px; height: 49px" /><br />
  </p>
  <p>
    &nbsp;&nbsp;&nbsp; This willl open the following <b>Generate Lookup</b> window where you can define the Lookup table.
  </p>
  <p>
    <img alt="Generate Lookups" src="/assets/GenerateLookupTable.png" style="width: 425px; height: 445px" />
  </p>
  <p style="vertical-align: bottom;">
    4. Select the <b>Value Field</b> and <b>Display Field</b> for the Lookupfrom the dropdown list.<br /> 5. Enter the initial
    <b>Default Value</b> for the Lookup Control you use. This will automatically create first list item for the selected
    control (i.e. Dropdown List).<br /> 6. Select the <b>Lookup Control</b> from the dropdown list. You can choose from DropDownList,
    RadioButtonList, or CheckBoxList. When the tool is generating Web UI code for a specific Table or View, it will use the
    selected Lookup Control for the Add/Edit Web Page or Web User Control.<br /> 7. Enter <b>Filter Expression</b> in case
    you want to filter the records with specific criteria. Note: You don&#39;t need to enter the WHERE clause in the Filter
    Expression.
    <br /> 8. Click on <b>Preview</b> button to preview the lookup for the selected column.<br /> 9. Click on <b>Generate</b>    button to generate code for the lookup.
  </p>
  <p style="vertical-align: bottom;">
    Optionally, you can select <b>Generate Get/Set Methods</b> to generate Get and Set methods for the selected column. This
    will generate Get method that will use value field as parameter and returns Display field value. The Set method will
    use value field and display field as parameter and will update the display field for the specified value field in the
    database table.
  </p>-->
  <h2>Why do I need to define Virtual Keys/Lookups?</h2>
  <p>
    Before you generate the code for an application or individual component, you may want to define Virtual/Foreign Keys or Lookups
    so that those fields will appear as a Lookup control (Dropdown List, ListBox or Checkbox List etc) in your user interface.
    Thi
  </p>
  <h2>How do I define Virtual Keys/Lookups?</h2>
  <p>
    To define Virtual Keys/Lookup for a particular column of a Table or View,
  </p>
  <p>
    1. Go to <b>Database Explorer</b> window and Expand a particular database table or view node to see the columns list.<br
    /> 2. Right click on the column for which you want to generate a lookup and select <b>Set as Virtual Key/Lookup...</b>    menu item.<br />
    <img alt="Define Virtual Key/Lookup" src="/assets/DefineLookup.png" />
  </p>
  <p>
    This willl open the following <b>Generate Virtual Key/Lookup</b> window where you can define Virtual Foreign Keys or
    Lookup queries/controls for a column.<br /><br />
    <img alt="Generate Virtual Keys/Lookup Table" src="/assets/GenerateVirtualKeyLookup.png" style="width: 425px; height: 502px"
    />
  </p>
  <p style="vertical-align: bottom;">
    3. Select the <b>Reference Table</b> and <b>Reference Field</b> to define the relations for a Virtual Key and select
    <b>Display Field</b> for the Lookup from the dropdown list.<br />
    <b>Note</b>: Reference Field will be an internal value and Display Field will be a display value within a lookup control.
    4. Enter the initial <b>Default Value</b> for the Lookup Control you use. This will automatically create first list item
    for the selected control (i.e. Dropdown List).<br /> 5. Select the <b>Lookup Control</b> from the dropdown list. You
    can choose from DropDownList, RadioButtonList, or CheckBoxList. When the tool is generating Web UI code for a specific
    Table or View, it will use the selected Lookup Control for the Add/Edit Web Page or Web User Control.<br /> 6. Enter
    <b>Filter Expression</b> in case you want to filter the records with specific criteria. Note: You don&#39;t need to enter
    the WHERE clause in the Filter Expression.
    <br /> 7. Click on <b>Preview</b> button to preview the lookup for the selected column.<br /> 8. Click on <b>OK</b> button
    to set the selected column as a Foreign Key.
  </p>
  <p>
    The code generation tool will recognize the field as Lookup field and automatically create Lookup control while generating
    code for an application or individual component. If you have not defined a field as Lookup, it will appear as a TextBox
    entry on your web/windows forms on the generated application.
  </p>
  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a routerLink="/docs/dbexplorer">Database Explorer</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>