<header class="hero background-sky">
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  CodeBhagat for .NET vs. Other Code Generators
</div>
<article class="docs-content">
  <h1>Why CodeBhagat for .NET?</h1>
  <p>Here is comparision between CodeBhagat for .NET and other code generators:</p>
  <table class="table table-bordered table-condensed table-stripped">
    <thead>
      <tr>
        <th style="width:20%"></th>
        <th style="width:40%"><b>CodeBhagat for .NET</b></th>
        <th style="width:40%"><b>Other Code Generators</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Choice of Technology</b></td>
        <td>Allows you to generate code for any of the following technologies:
          <ul>
            <li>Angular 2.0/TypeScript</li>
            <li>AngularJS 1.x</li>
            <li>ASP.NET MVC</li>
            <li>ASP.NET Web Forms</li>
            <li>Web API Services</li>
            <li>WCF/WCF RESTful Services</li>
            <li>WPF using MVVM Pattern</li>
          </ul>
        </td>
        <td>Allows you to generate code only for 1 or 2 technologies: ASP.NET or ASP.NET MVC</td>
      </tr>
      <tr>
        <td><b>Choice of Language</b></td>
        <td>Allows you to generate code either in C# or VB.NET</td>
        <td>Allows you to generate code only in 1 language.</td>
      </tr>
      <tr>
        <td><b>Choice of Database</b></td>
        <td>Allows you to generate code straight from one of the 8 supported databases:
          <ul>
            <li>SQL Server</li>
            <li>SQL Azure</li>
            <li>Oracle</li>
            <li>MySQL</li>
            <li>SQL Standalone Databases (*.mdf)</li>
            <li>SQL Mobile/CE (*.sdf)</li>
            <li>SQL Express</li>
            <li>MS-Access</li>
          </ul>
        </td>
        <td>Most of the code generators does not support Oracle, SQL Mobile/CE, MySQL and MS-Access.</td>
      </tr>
      <tr>
        <td><b>Entire Application vs Individual Component</b></td>
        <td>Allows you to generate code for an entire application or individual components during development cycle. So, when
          the schema of a particular table/view changes or new table is introduced in the database, I can generate an individual
          component (UI, Business, DAL, Service Layer or Database Layer) and apply the same in my existing application/project.</td>
        <td>Most of the code generators does not let you generate individual components while you are in the middle of development
          cycle and code generation software becomes useless during this cycle.</td>
      </tr>
      <tr>
        <td><b>Choice of Database Provider</b></td>
        <td>Allows you to choose the Database Provider: Native Provider (SqlClient for SQL databases, MySqlClient for MySQL,
          OracleClient for Oracle etc.), OleDb Client as well as Enterprise Library. Many enterprise applications are utilizing
          Enterprise Library due to dynamic nature of their backend databases.</td>
        <td>Most of the code generators do not allow the user to pick the Database Provider. This becomes a limitation for many
          enterprise level applications.</td>
      </tr>
      <tr>
        <td><b>Customization of Code Templates</b></td>
        <td>Easy to change the code generation templates and re-generate an application or individual component. You can make
          changes to the default code blocks such as Error Handler, Method Signatures etc.</td>
        <td>Difficult to change the code and code generation templates once the application is already generated.</td>
      </tr>
    </tbody>
  </table>

  <br />

  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a [routerLink]="['/systemRequirements']">System Requirements</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>