<header class="hero background-sky">
  <img src="/assets/cb_logo.png" style="width:180px;" /><br />
  <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;text-transform: uppercase;">A Unique, Intelligent and Real Code Generator for .NET!</span>
</header>
<div class="banner">
  Features
</div>
<article class="docs-content">
  <h1>Features</h1>
  <table class="table table-bordered table-condensed table-striped">
    <tr>
      <th class="col-md-3"></th>
      <th class="col-md-9"><b>CodeBhagat for .NET</b></th>
    </tr>
    <tr>
      <td><b>Choice of Technology</b></td>
      <td>
        Allows you to generate code for any of the following technologies:
        <ul>
          <li>Angular 2.0/TypeScript</li>
          <li>AngularJS 1.x</li>
          <li>ASP.NET MVC</li>
          <li>ASP.NET Web Forms</li>
          <li>Web API Services</li>
          <li>WCF/WCF RESTful Services</li>
          <li>WPF using MVVM Pattern</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><b>Choice of Language</b></td>
      <td>Allows you to generate code either in C# or VB.NET</td>
    </tr>
    <tr>
      <td><b>Choice of Database</b></td>
      <td>
        Allows you to generate code straight from one of the 8 supported databases:
        <ul>
          <li>SQL Server</li>
          <li>SQL Azure</li>
          <li>Oracle</li>
          <li>MySQL</li>
          <li>SQL Standalone Databases (*.mdf)</li>
          <li>SQL Mobile/CE (*.sdf)</li>
          <li>SQL Express</li>
          <li>MS-Access</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><b>Entire Application vs Individual Component</b></td>
      <td>Allows you to generate code for an entire application or individual components during development cycle. So, when the
        schema of a particular table/view changes or new table is introduced in the database, I can generate an individual
        component (UI, Business, DAL, Service Layer or Database Layer) and apply the same in my existing application/project.</td>
    </tr>
    <tr>
      <td><b>Choice of Database Provider</b></td>
      <td>Allows you to choose the Database Provider: Native Provider (SqlClient for SQL databases, MySqlClient for MySQL, OracleClient
        for Oracle etc.), OleDb Client as well as Enterprise Library. Many enterprise applications are utilizing Enterprise
        Library due to dynamic nature of their backend databases.</td>
    </tr>
    <tr>
      <td><b>Customization of Code Templates</b></td>
      <td>Easy to change the code generation templates and re-generate an application or individual component. You can make changes
        to the default code blocks such as Error Handler, Method Signatures etc.</td>
    </tr>
    <tr>
      <td><b>Generate Service Layer</b></td>
      <td>Allows you to generate Service Layer/Components:
        <ul>
          <li>Web API 2.0 Services</li>
          <li>WCF and WCF RESTful Sevices</li>
          <li>SOAP/ASMX Web Services</li>
        </ul>
      </td>
    </tr>
  </table>
  <h1>Features by Technology</h1>
  <table class="table table-bordered table-condensed table-striped">
    <tr>
      <td><b>Feature</b></td>
      <td><b>Angular 2.0</b></td>
      <td><b>AngularJS 1.x</b></td>
      <td><b>ASP.NET MVC</b></td>
      <td><b>ASP.NET</b></td>
      <td><b>WPF MVVM</b></td>
    </tr>
    <tr>
      <td><b>ASP.NET Identity</b> for Authentication and Authorization</td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td><b>Bootstrap 3.x</b> with Responsive Web UI</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td><b>Generate CRUD Operations</b></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><b>Generate Master/Details Pages</b></td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td><b>GRID Solution</b></td>
      <td>Bootstrap Style Grid</td>
      <td>Bootstrap Style Grid</td>
      <td>JQGrid or Kendo Grid</td>
      <td>Custom Grid</td>
      <td>Custom Grid</td>
    </tr>
    <tr>
      <td>More features...</td>
      <td colspan="5">To be listed later...</td>
    </tr>
  </table>
  <br />
  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a [routerLink]="['/comparison']">Why CodeBhagat for .NET?</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>