<header class="hero background-sky">
  <h1 class="hero-title">Features & Benefits</h1>
</header>
<div class="banner">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <h3>Progressive web apps</h3>
      <p class="text-body">Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h3>Native</h3>
      <p class="text-body">Build native mobile apps with strategies from Ionic Framework, NativeScript, and React Native.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h3>Desktop</h3>
      <p class="text-body">Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the
        web plus the ability to access native OS APIs.</p>
    </div>
  </div>
</div>