<nav class="navbar navbar-fixed-top navbarng2">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed siteMenuLink md-button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="siteMenuTitle">SITE MENU<i class="fa fa-caret-down"></i></span>            
    </button>
      <a class="navbar-brand brandTitle" [routerLink]="['']"><img src="/assets/cb_logo.png" alt=""></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbarLinks">
        <li class="active"><a [routerLink]="['docs']">DOCS</a></li>
        <li><a [routerLink]="['features']">FEATURES</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['docs']">Get Started</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid navbarng2ContainerFluid">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>