.example-fill-remaining-space {
  /*// This fills the remaining space, by using flexbox. */
  /*// Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
  margin-left: 60px;
}

.example-fill-remaining-space > a{
  padding: 10px;
}

a:hover{
    text-decoration: none;
}

md-toolbar span > a{
    padding: 0 16px;
    text-transform: uppercase;
    font-family: "Roboto",Helvetica Neue Light,"Helvetica Neue","Helvetica,Arial","Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

md-toolbar span > a:hover,md-toolbar span > a:focus{
  /*background-color: #1E88E5;*/
  color: #F0F0F0;
}

md-toolbar ul li a{
  /*padding: 0 16px;*/
  /*line-height: 0;*/
    text-transform: uppercase;
    font-family: "Roboto",Helvetica Neue Light,"Helvetica Neue","Helvetica,Arial","Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ul.example-fill-remaining-space li a:hover{
  background-color: #1E88E5;
  color: #F0F0F0;
}

ul.example-fill-remaining-space li a:focus{
  background-color: #1E88E5;
  color: #F0F0F0;
}