a{
  color: #1976D2;
  text-decoration: none;
}

a.navbar-brand:hover {
    color: white;
    background: rgba(255,255,255,0.2);
}

.navbar {
    background-color: #1976D2;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    padding-right: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white
}

div.navbarng2ContainerFluid{
    padding: 0;
}

.content{
    padding-top: 50px;
}

/*Media Queries*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .navbarng2 a.brandTitle{
        margin: 0;
    }
    .navbar>.container .navbar-brand{
        margin-left: -250px;
    }
    .navbarng2 ul.navbarLinks{
        margin-left: 110px;
    }
    /*.navbar>.container-fluid .navbar-brand{
        margin-left: -250px;
    }*/
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbarng2 a.brandTitle{
        margin: 0;
    }

    .navbar>.container .navbar-brand{
        margin-left: -15px;
    }
    .navbarng2 ul.navbarLinks{
        margin-left: 110px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .navbarng2 a.brandTitle{
        margin: 0;
    }
    .navbarng2 ul.navbarLinks{      
        margin-left: 110px;         
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .navbarng2 ul.navbarLinks{
        margin-top: 0;
        margin-bottom: 0;         
    }
    .navbarng2 ul.navbarLinks +ul{
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}