<header class="hero background-sky">
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  Generate ASP.NET Web Application
</div>
<article class="docs-content">
  <p>
    You can generate a new ASP.NET Web Application using following steps:
  </p>
  <p>
    1. From the <b>File</b> menu, select <b>New Application</b> --> <b>ASP.NET Web Application</b> menu item.<br />
    <br />
    <img alt="New ASP.NET Web Application" src="/assets/apps/FileNewAppASPNET.png" /><br />
  </p>
  <p>
    You will see the following dialog box appear on screen:<br /><br />
    <img alt="Generate New ASP.NET Web Application" src="/assets/apps/GenerateASPNETAppDialog.png" /><br />
  </p>
  <p>
    2. On "Generate New ASP.NET Web Application" dialog, Enter/Select the following parameters/options you want to use to generate
    the application:
    <ul>
      <li><b>Application Name</b></li>
      <li><b>Location</b>: where you want to store the generated application</li>
      <li><b>Language</b>: C# or VB.NET</li>
      <li><b>Provider</b>: SQL or Native Client, OleDb Client or Enterprise Library.</li>
      <li><b>Command Type</b>: Inline SQL or Stored Procedure</li>
      <li><b>Visual Studio Version</b>: 2015/2013/2012/2010</li>
    </ul>
  <!--</p>-->
  <p>
    3. You may select the <b>Database</b> (from the dropdown) and <b>Database Objects</b> (from the treeview) for which you
    want to generate the code, and click on <b>Generate</b> button to generate an application.<br />
    <b>Note</b>: This may take between 1 to 3 minutes based on number of Tables/Views you have selected.
  </p>
  <p>
    Once the application is generated, it will be open in your choice of Visual Studio version. All you need to do is <b>Compile</b>    and <b>Run</b> your application.<br />
  </p>
  <p>
    To Compile, select <b>Build --> Build Solution</b> from the menu item in Visual Studio.<br /> To Run, click on <b>Start</b>    button on Toolbar.<br />
  </p>
  <br />
  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a routerLink="/docs/wpfMvvm">WPF MVVM Application</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>