<header class="hero background-sky">
  <h1 class="hero-title">
    <img src="/assets/cb_logo.png" style="width:180px;" /><br />
    <span style="padding-left:18px; font-size:14px;font-weight:bold;color:lightgray;">A Unique, Intelligent and Real Code Generator for .NET!</span>
  </h1>
</header>
<div class="banner">
  Code Generation
</div>
<article class="docs-content">
  <p>
    <b>CodeBhagat for .NET</b>, allows you to generate code for an individual component of your choice for a selected table/view
    or all tables/views. This is a unique feature that most of the code generators are missing. This is useful when you are
    in the middle of development cycle and you want to generate/re-generate an individual component and apply to your projects.
  </p>
  <h3>
    To generate code for an individual component, you have two options:
  </h3>
  <p>
    1. <b>Quick Generate</b>, which allows you to generate the code with just one-click action by seleting a single object
    (table or view) OR for all tables/views by selecting Tables node.<br/> 2. <b>Custom Generate</b>, which allows you to
    select or enter various parameters for your specific needs before you generate the code.
  </p>
  <h3>
    <span class="style1">Quick Generate - Selected Table/View</span>:
  </h3>
  <p>
    You can use Quick Generate menu to generate the code with just one-click action for a single table or view.
  </p>
  <h4>To Quick Generate - Selected table/view,</h4>
  <p>
    1. Go to Database Explorer window and expand the database nodes.<br/> 2. Right click on the database object (Table or
    View) to open the context menu as shown below and select <b>Quick Generate</b> menu.
  </p>
  <p style="vertical-align: top;">
    <img alt="Quick Generate Menu" src="/assets/QGMenu1.png" style="width: 160px; height: 94px; vertical-align: top;" /><img
      alt="Quick Generate" src="/assets/QuickGenerateMenu.png" style="width: 217px; height: 221px" />
  </p>
  <p>
    3. Click on the type of code you want to generate from the sub menu. For example, Stored Procedures, Triggers, Data Access
    Layer class etc.
  </p>
  <p>
    &nbsp;
  </p>
  <h4>
    Quick Generate - All Tables/Views:
  </h4>
  <p>
    You can use Quick Generate menu to generate the code for all the tables/views with just one-click action. To Quick Generate
    for all Tables/Views,
  </p>
  <p>
    1. Go to Database Explorer window and expand the database nodes.<br/> 2. Right click on the <b>Tables</b> node to open
    the context menu as shown below and select <b>Quick Generate</b> menu.
  </p>
  <p style="vertical-align: top;">
    <img alt="Quick Generate All Tables/Views Menu" src="/assets/QuickGenerateAllTablesViewsMenu.png" style="width: 235px; height: 69px; vertical-align: top;"
    /><img alt="Quick Generate All Tables/Views SubMenu" src="/assets/QuickGenerateAllTablesViewsSubMenu.png" style="width: 215px; height: 232px"
    />
  </p>
  <p>
    3. Click on the type of code you want to generate from the sub menu. For example, Stored Procedures, Triggers, Data Access
    Layer class etc.
  </p>
  <p>
    This will generate the seleted type of code for all the Tables or Views. If you select <b>ALL</b> from the submenu, you
    can generate entire Module (includes Stored Procedures, Triggers, DAL Class, Properties Class and Web UI Page or Control)
    for each table under the <b>Tables</b> node.
  </p>
  <p>
    You also have an option to generate a Website.map file that can be used to create Menus or Breadcrumbs.
  </p>
  <h3>
    Custom Generate:
  </h3>
  <p>
    You can use Custom Generate menu to select or enter various parameters for your specific needs before you generate the code.
  </p>
  <h4>To Custom Generate,</h4>
  <p>
    1. Go to Database Explorer window and expand the database nodes.<br/> 2. Right click on the database object (Table or
    View) to open the context menu as shown below and select <b>Generate</b> menu.
  </p>
  <p style="vertical-align: top;">
    <img alt="Custom Generate Menu" src="/assets/GenerateMenu.png" style="width: 160px; height: 94px; vertical-align: top;" /><img
      alt="Custom Generate" src="/assets/GenerateSubMenu.png" style="width: 217px; height: 221px" />
  </p>
  3. Click on the type of code you want to generate from the sub menu. For example, Stored Procedures, Triggers, Data Access
  Layer class etc. This will open a popup window where you can select or enter necessary parameters before you generate the
  code.
  <br/>
  <br/> This will generate the seleted type of code for the selected Table or View. If you select <b>ALL</b> from the submenu,
  you can generate entire Module (includes Stored Procedures, Triggers, DAL Class, Properties Class and Web UI Page or Control)
  for the selected Table or View.<br/>
  <br/>
  <br/>

  <section class="nextTopic-section">
    <h3>Next Topic</h3>
    <a [routerLink]="['/docs/generateStoredProcedure']">Generate Stored Procedures</a><br />
  </section>
  <br /><br />
</article>
<md-toolbar class="footer-toolbar">
  <span>&copy; CodeBhagat LLC 2014-2016. All rights reserved.</span>
</md-toolbar>