<header class="hero background-sky">
  <h1 class="hero-title">Docs Guide 2</h1>
</header>
<div class="banner">
  Tutorial 1 Link Page
</div>
<article class="tutorial-content">
  <md-card>
    <md-card-title>Tutorial 1</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</article>