/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/*@import '~https://fonts.googleapis.com/icon?family=Material+Icons';*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/

body{
    margin: 0;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin-top:50px;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
   /*color: white;*/
   /*opacity: 0.5;*/
    text-decoration: none;
}

a:focus{
    /*color: white;*/
    /*opacity: 0.5;*/
    text-decoration: none;
}

.hero {
    box-sizing: border-box;
    box-shadow: none;
    padding: 20px 20px 20px 20px;
    position: relative;
    height: 100px;
}

.background-sky {
    background-color: #1976D2;
    background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
    background: linear-gradient(145deg,#0D47A1,#42A5F5);
    color: #fff;
}

.hero .hero-title {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    float: left;
    line-height: 48px;
    margin: 0 8px 0 0;
    text-transform: uppercase;
}

.banner{
    background: rgba(236,239,241,0.24);
    /*border-bottom: 1px solid #ECEFF1;*/
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 200;
    padding: 32px 48px;
    min-height: 97px;
}

article.docs-content{
    padding: 10px;
}
.nextTopic-section{
    color: #455A64;
    margin: 0 0 32px 0;
    padding: 32px;
    background: rgba(236,239,241,0.24);
    border-left: 4px solid #00BCD4;
    /*border-left: 4px solid palevioletred; padding: 5px;background-color: whitesmoke;padding-bottom: 10px;*/
}
.footer-toolbar{
    background:rgba(236,239,241,0.24);
    font-size: 14px; 
}
