div{
    padding: 70px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
md-sidenav-layout{
    height: 100vh;
}

md-sidenav{
    width: 150px;
    padding: 10px;
}

.my-content {
  margin: 0;
  width: 100%;
}

ul{
    background: #C0C0C0;
}
ul li{
    padding: 10px;
}

