
.hero {
    box-sizing: border-box;
    box-shadow: none;
    padding: 48px 48px 32px 48px;
    position: relative;
    height: 168px;
}

.background-sky {
    background-color: #1976D2;
    background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
    background: linear-gradient(145deg,#0D47A1,#42A5F5);
    color: #fff;
}

.hero .hero-title {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    float: left;
    line-height: 48px;
    margin: 0 8px 0 0;
    text-transform: uppercase;
}

.banner{
    background: rgba(236,239,241,0.24);
    /*border-bottom: 1px solid #ECEFF1;*/
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 200;
    padding: 32px 48px;
    min-height: 97px;
}

/*div{
    padding: 70px;
}*/

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
md-sidenav-layout{
    height: 100vh;
}

md-sidenav{
    width: 225px;
    background-color: whitesmoke;
    /*padding: 10px;*/
    /*padding: 10px;*/
}

.my-content {
  margin: 0;
  width: 100%;
}

ul{
    /*background: #C0C0C0;*/
    list-style-type: none;
}

ul li > a >span:hover{
    cursor: pointer;
}

.side-nav-links > li{
    border-bottom: 2px solid #F5F5F5;
}

#submenu1 li a{
    padding-left: 30px;
}

#submenu2 li a{
    padding-left: 30px;
}

/*#btn-1 > span:hover{
    cursor: pointer;
}*/
/*ul li{
    padding: 10px;
}*/

/*ul > li.dropdown > a >span.fa{
    float: right;
}*/

.sidenav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav-links .sidenav-section{
    border-bottom: 1px solid rgba(207, 216, 220, 0.56);
}

/*---------------*/
/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li a:hover {background: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
